<?xml version='1.0'?>

<model>
  <name>robot</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Ishan Chadha</name>
    <email>ichadha3@gatech.edu</email>
  </author>

  <description>
    The Robot for FA-RRT simulations, based on Nate Koenig's Pioneer 2DX model.
  </description>
</model>