build
**/build
./**/build/**
./**/build/**/*

devel
**/devel
./**/devel/**
./**/devel/**/*

install
**/install
./**/install/**
./**/install/**/*

listener

.DS_Store
**/.DS_Store

__pycache__/

.vscode
