<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find farrt-bot_description)/urdf/farrt-bot.xacro'"/> -->
    
    <arg name="model" default="$(find farrt-bot_description)/urdf/farrt-bot.xacro"/>

    <param name="robot_description" textfile="$(arg model)" />

    <arg name="robot_name" default="farrt-bot"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <node name="spawn_farrt_bot" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
